
/* globals.css */
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff; /* Adjust to your preferred background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: adds a shadow under the navbar */
    z-index: 1000; /* Ensures the navbar is above other content */
  }
  
  main {
    padding-top: 10vh; /* Adjust based on the height of your navbar */
  }
  