/* .home{
    background-color: aqua;
    width: 100%;
    height: 60vh;
} */
.home {
    background-image: url('/docs/images/school3.jpg'); /* Update the path to your image */
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 70vh; /* Makes the div at least as tall as the viewport height */
    display: flex; /* Optional: Center content if needed */
    align-items: center; /* Optional: Center content vertically */
    justify-content: center; /* Optional: Center content horizontally */
    color: white; /* Optional: Change text color for contrast against the background */
  }


.main_container {
    display: flex; /* Enable Flexbox layout */
    height: 60vh;
    background-color:#2d333a;
    color: white;
  }

.academic{
  margin: 0%;
  background-color:#2d333a;
  border-radius: 20px;
  justify-content: center;
}
  
  .left_side,
  .right_side {
     /* Optional: Add padding inside each div */
     height: 100%;
  }
  
  .left_side {
    width: 65%;
 /* Optional: Add a background color */
    padding-bottom: 0px;
    margin-bottom: 0px;
}
  .academic h3{
    padding: 20px 20px 0px 0px;
    text-align: center;
    font-size: 3vmax;
    color:white;
  }
  .right_side {
    width: 35%;
    /* background-color: lightcoral; Optional: Add a background color */
    position: relative; /* Position the container relative to position the circle absolutely */
    display: flex;
}
  
  .text_container {
    font-size: 5vmax;
    line-height: 1.5;
    color: #333;
    max-width: 800px;
    padding-left: 20px;
    color: white;
  }
  
  .text_container ul {
    padding-left: 20px; /* Optional: Add padding to align list items nicely */
}

.text_container li {
    font-size: 2vmax;
    line-height: 1.2; /* Adjust this value to your desired line height */
    margin-bottom: 10px; /* Optional: Add margin between list items for better spacing */
}


  
  .clip_container {
    padding: 0px;
    margin: 0px;
    position: relative; /* Container for positioning the image */
    width: 100%; /* Width of the container */

  }
  
  .image {
    position: absolute; /* Position image absolutely */
    bottom: 0; /* Align the image to the bottom of the container */
    width: 100%; /* Full width of the container */
    height: 55vh;
  }
  
  
  .helping_child {
    display: flex; /* Enable Flexbox layout */
    height: 60vh;
  }

  .helping_child_left_side,
  .helping_child_right_side {
    flex: 1; /* Distribute space equally */
     /* Optional: Add padding inside each div */
     height: 60vh;
  }


  .helping_child_left_side {
    display: flex; /* Enable Flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100%; /* Full height or adjust as needed */
  }
  
  .helping_child_image {
    position: relative; /* For positioning the image inside */
    width: 100%; /* Adjust the width as needed */
    height: 100%; /* Adjust the height as needed */
    overflow: hidden; /* Hide any overflow */
  }
  
  .helping_child_image image {
    margin: 0px;
    width: 100%; /* Make the image fill the width of the container */
    height: 100%; /* Make the image fill the height of the container */
    object-fit: cover; /* Ensure the image covers the container while maintaining aspect ratio */
  }
  
.helping_container_text{
    padding: 30px;
    text-align: left;
}

.help{
  display: flex;
  width: 100vw;
}

.left_help_section{
  width: 40%;
  height: 100vh;
  background-color: antiquewhite;
}
.right_help_section{
  width: 100%;
  height: 100vh;
}

.left_help_section img{
  object-fit: contain; 
  height: 100vh;
  width: 100%;
}
.science{
  margin-top: 8%;
  text-align: center;
  justify-content: center;
}
.science img{
  object-fit: contain; 
  height: 10%;
  width: 60%;
}

.right_container_top{
  background-image: url('/docs/images/subjects.jpg'); /* Update the path to your image */
  background-size: cover; /* Ensures the image covers the entire div */
  background-position: top; /* Centers the image */
  background-repeat: no-repeat;
  margin: 10px 150px 50px 150px;
  z-index: 10;
  text-align: center;
  border-radius: 20px;
  height: 40vmax;
  box-shadow: 20px 20px #32393d;
  transition: transform 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: right;
}
.right_container_top h1{
  color: #2d333a;
  font-size: 4vw;
  padding-right: 5%;
}

.right_container_top:hover {
  transform: scale(1.04);
}

.right_container_top{
  padding-top: 30px;
  margin-top: 20px;
  color: #f0f0f0;
}



.right_container_bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 5%; 
  padding-right: 5%; 
}

.item {
  flex: 0 1 calc(30% - 10px); 
  margin-bottom: 5%;
  background-color: #f0f0f0; 
  margin-right: 1%;
  box-sizing: border-box; 
  height: 20%;
  border-radius: 20px;
  box-shadow: 8px 8px #32393d;
  transition: transform 0.3s ease-in-out;
}

.item:hover {
  transform: scale(1.04);
}


.why_us{
  width: 100vw;
  display: flex;
  height: auto;

}
.empower_learning{
  margin: 5%;
  width: 50%;
  background-color: #2d333a;
  border-radius: 20px;
  box-shadow:8px 8px #4b5057;
  text-align: center;
  position: relative; /* For hover effects to apply correctly */
  
}
.why_us_comtainer{
  width: 50%;
  background-color: aquamarine;
}

.empower_learning h2{
  color: white;
  font-size: 4vmin;
}
.empower_learning p{
  color: white;
  font-size: 2.5vmin;
  text-align: left;
  line-height: 1.5;
  padding: 0px 5px 10px 10px;
  position: relative;
}

.empower_learning_buttons{
  display: flex;
  justify-content: space-evenly; /* Equal space between buttons */
  align-items: center; /* Vertically center the buttons */
  gap: 10px;
  position: relative;

}

.empower_learning_buttons button{
width: 40%;
display: flex;
justify-content: center; /* Equal space between buttons */
align-items: center; /* Vertically center the buttons */
gap: 20px;
font-size: 2.5vmin;
border-radius: 20px;
position: relative;
padding: 2vmin;
}

.empower_learning:hover{

  background-color: white;
}

.empower_learning:hover h2 {
  color: #2d333a; /* Color when parent is hovered */
}
.empower_learning:hover p {
  color: #2d333a; /* Color when parent is hovered */
}
.empower_learning_buttons:hover button {
  background-color: #2d333a;
  color: white;
}

.empower_learning:hover .empower_learning_buttons button {
  background-color: #2d333a; /* Button background color on hover */
  color: #fff; /* Button text color on hover */
}


@media (max-width: 600px) {
  .item {
    flex: 0 1 calc(50% - 10px);
  }
  .right_container_top{
    margin: 0px;
    padding: 0px;
  }
}



@media screen and (max-width: 524px) {
  .help{
      display: block;
  }
  .left_help_section{
      background-color: antiquewhite;
      width: 100vw;
      height: 100vh;
  }
  .right_help_section{
      width: 100vw;
      height: 100vh;
  }
  .why_us{
    display: block;
    height: auto;
  
  }
  .empower_learning{
    width: 90%;
  }
  .why_us_comtainer{
    width: 100%;
  }
}

@media screen and (max-width: 999px) {

  .right_container_top{
      margin: 10px 50px 50px 50px;
  }
}


@media screen and (max-width: 500px) {

  .left_side h3{
    padding: 20px 20px 0px 10px;
    text-align: center;
    font-size: 3vmax;
  }
  .main_container {
    display: block; /* Enable Flexbox layout */
    height: 70vh;
  }
  .left_side{
    height: 50%;
    width: auto;
    line-height: 2;
  }
  .right_side {
     /* Optional: Add padding inside each div */
     height: 50%;
  }
  .image {
    position: absolute; /* Position image absolutely */
    bottom: 0; /* Align the image to the bottom of the container */
    width: 100vw; /* Full width of the container */
    height: 100%;
  }
}